.root {
  padding: 15px;
  background-color: purple;
  border-radius: 4px;
  margin: 10px;
}

.root:hover {
  cursor: pointer;
}

.fadeInButton {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
