.root {
  height: 250px;
  width: 250px;
  background-color: purple;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1px;
  margin: 10px;
}

.img {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: var(--paneles-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

img {
  height: 250px;
  width: auto;
}
