.container {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.form {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.title {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #ccc;
}

.imageContainer {
  height: 100%;
  width: 50%;
  background-image: url("../../assets/img/welcome.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 300px;
}
