.container {
  background-color: #ffdcd2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .formContainer {
    width: 100%;
    z-index: 2;
  }
}

.form {
  width: 300px;
}

.title {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .title {
    color: white;
    font-size: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.781);
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.imageContainer {
  height: 100%;
  width: 50%;
  background-image: url("../../assets/img/welcome.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 400px;
  border-bottom-left-radius: 300px;
  animation: fade-in 2s ease-out;
}
@media screen and (max-width: 600px) {
  .imageContainer {
    position: absolute;
    top: 5%;
    right: 0;
    height: 90%;
    width: 95%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 300px;
    animation: fade-in 2s ease-out;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
