.root {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.952);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  height: 100px;
  padding: 10px 30px;
  background-color: rgb(255, 213, 213);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

p {
  font-size: 20px;
}
