.root {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(150deg, rgb(82, 4, 82), rgb(209, 137, 2));
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 10vh 5%;
}
