.root {
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 12, 12);
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
}

.active {
  display: flex;
}

.deactive {
  display: none;
}

.code {
  font-size: 40px;
}

.crossContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.cross {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.textContainer {
  text-align: center;
  width: 100%;
  padding: 10px;
}

.fadeInButton {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
