:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  --paneles-bg-color: #242424;
  --borders: rgba(255, 235, 205, 0.288);
  --blue-button: #007bff;
  --background-color: rgb(255, 223, 209) a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

/* Estilos generales de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

/* Estilos del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #000000;
}

/* Estilos del "pulgar" de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Estilos del "pulgar" cuando se pasa el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
